
<div class="card">
  <div class="card">
    <img class="card-img" id="photo" style="max-height: 20vh;object-fit: cover;" src="..." appNotImage alt="Card image cap">
    <div class="card-img-overlay">
      <i class="bi bi-geo-alt-fill me-2"></i>
      <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
        <span class="sr-only"></span>
      </div>
      <span style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">
        {{this.formated_address}}
      </span>
    </div>
  </div>

<!--  <img class="card-img-top" id="photo" style="max-height: 20vh;object-fit: cover;" src="..." appNotImage alt="Card image cap">-->
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Delitos cercanos {{crimesToShow.length}}</button>
  <div class="collapse multi-collapse" id="multiCollapseExample1">
    <div class="card card-body overflow-y-scroll">
      <div class="list-group list-group-flush" style="max-height: 45vh" >
        <div class="list-group-item" *ngFor="let crime of crimesToShow">
          <div class="d-flex justify-content-between">
            <h6 class="mb-1">{{ crime.generico }}</h6>
            <small>{{ crime.date | date: 'yyyy' }}</small>
          </div>
          <p class="mb-1"><strong>Descripción:</strong> {{ crime.generico }} - {{ crime.modalidad }}</p>
          <p class="mb-1"><strong>UBIGEO:</strong> {{ crime.ubigeo }}</p>
          <p class="mb-1"><strong>Plus Code:</strong> {{ crime.plus_code }}</p>
          <p class="mb-1"><strong>ID del reporte:</strong> {{ crime.ID }}</p>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Incidencias cercanas {{reportsToShow.length}}</button>
  <div class="collapse multi-collapse" id="multiCollapseExample2">
    <div class="card card-body overflow-y-scroll">
      <div class="list-group list-group-flush" style="max-height: 20vh">
        <div class="list-group-item" *ngFor="let report of reportsToShow">
          <div class="d-flex justify-content-between">
            <h6 class="mb-1">{{ report.title }}</h6>
            <small>{{ report.date  }}</small>
          </div>
          <p class="mb-1"><strong>Descripción:</strong> {{ report.description }}</p>
          <p class="mb-1"><strong>Plus Code:</strong> {{ report.plus_code }}</p>
          <p class="mb-1"><strong>ID del reporte:</strong> {{ report.ID }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-incidence-form #IncidenceModalForm ></app-incidence-form>

