<app-powerbi-modal #powerBiModalRef ></app-powerbi-modal>

<div id="legend"></div>
<div class="container-fluid g-0" >
  <div class="row g-0">

    <div class="col-md-4" *ngIf="hiddenLeftPanel">
      <!-- Container -->

      <app-side-bar [crimesToShow]="crimesToShow" [reportsToShow]="reportsToShow" [incidenceForm]="incidenceForm" (closeSideBar)="hiddenLeftPanel=false"></app-side-bar>
    </div>

    <div  [ngClass]="{'col-md-8': hiddenLeftPanel}">
      <div id="map"></div>
    </div>
  </div>
</div>

