<!--<button type="button" (click)="createComponent()">-->
<!--  I am Parent, Create Child-->
<!--</button>-->
<!--<div>-->
<!--  <ng-template #viewContainerRef></ng-template>-->
<!--</div>-->


<div class="modal fade" id="powerBiModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="powerBiModalLabel" aria-hidden="true">
  <div class="modal-dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-content" style="width: 750px; height: 600px">
      <div class="modal-header">
        <h5 class="modal-title" id="powerBiModalLabel">{{localStorage.getItem('distrito')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id='demss' >

        <!--        <powerbi-report #powerBiReport id="powerBiReport" [embedConfig]="embedConfig" ></powerbi-report>-->
        <ng-template #viewContainerRef></ng-template>

      </div>

      <!--      <button (click)="demo(powerBiReport)">Algo</button>-->

    </div>
  </div>
