#map { height: 100vh;}

/* Ensure the card takes full height of the container */
.card {
  height: 100%;
}

/* Style for the image and search bar container */
.position-relative {
  height: 300px;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adjust the search bar width */
.position-absolute .form-control {
  width: 100%;
}

/* Spacing and alignment for icons and text in the second row */
.card-body .d-flex {
  margin-bottom: 1rem;
  align-items: center;
}

.card-body .d-flex i {
  font-size: 1.5rem;
  color: #007bff;
}

/* Style for the comments section title and icons */
.card-footer {
  background-color: #f8f9fa;
}

.card-footer .card-title {
  margin-bottom: 0;
}

.card-footer .d-flex i {
  font-size: 1.25rem;
  cursor: pointer;
}

.card-footer .d-flex i:hover {
  color: #007bff;
}

/* Style for each comment item */
.list-group-item {
  border: none;
  border-bottom: 1px solid #e9ecef;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.list-group-item p {
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
}

/* Additional spacing for the map or other content */
.col-md-8 {
  padding-left: 0;
}

.crimeIcon {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}


.card-footer {
  max-height: 500px; /* Ajusta este valor según sea necesario */
  overflow-y: auto;
}
.list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
}
.list-group-item:last-child {
  border-bottom: none;
}
.card-title {
  font-size: 1.2em;
  font-weight: bold;
}

